@model IEnumerable<IngredientViewModel>
@{
    ViewData["Title"] = "Add Inventory Item";
}

<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0">Add Inventory Item</h4>

                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Inventory Items</a></li>
                                <li class="breadcrumb-item active">Add</li>
                            </ol>
                        </div>

                    </div>
                </div>
            </div>
            <!-- end page title -->

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header align-items-center d-flex">
                            <h4 class="card-title mb-0 flex-grow-1">Add Inventory Item</h4>
                            <div class="flex-shrink-0">
                                <div class="form-check form-switch form-switch-right form-switch-md">
                                    <a class="btn btn-warning" href="/inventory">Go Back</a>
                                </div>
                            </div>
                        </div><!-- end card header -->

                        <div class="card-body">
                            <form asp-action="Create" asp-controller="Inventory" method="post">
                                <div class="row gy-4 mb-2">
                                    <div class="col-xxl-3 col-md-6">
                                        <div>
                                            <label for="Name" class="form-label">Ingredient</label>
                                            <select class="form-select mb-3" name="IngredientId" required>
                                                <option selected value="">Select Ingredient</option>
                                                @foreach (IngredientViewModel ingredient in Model)
                                                {
                                                    <option value="@ingredient.Id">@ingredient.Name</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-xxl-3 col-md-6">
                                        <div>
                                            <label for="Quantity" class="form-label">Quantity</label>
                                            <input type="number" class="form-control" name="Quantity" id="Quantity" required>
                                        </div>
                                    </div>
                                    <div class="col-xxl-3 col-md-6">
                                        <div>
                                            <label for="Price" class="form-label">Price</label>
                                            <input type="number" class="form-control" name="Price" id="Price" required>
                                        </div>
                                    </div>
                                    <div class="col-xxl-3 col-md-6">
                                        <div>
                                            <label for="AddedOn" class="form-label">Added</label>
                                            <input type="datetime-local" class="form-control" name="AddedOn" id="AddedOn" value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" required>
                                        </div>
                                    </div>
                                </div>

                                <button class="btn btn-primary mt-2" type="submit">Save</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>