@using TechlunchApp.ViewModels
@model OrderViewModel
@{
    ViewData["Title"] = "Add Order";
    int price = 0;
}

<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0">Add Order</h4>

                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Orders</a></li>
                                <li class="breadcrumb-item active">Create</li>
                            </ol>
                        </div>

                    </div>
                </div>
            </div>
            <!-- end page title -->

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header align-items-center d-flex">
                            <h4 class="card-title mb-0 flex-grow-1">Add Order</h4>
                            <div class="flex-shrink-0">
                                <div class="form-check form-switch form-switch-right form-switch-md">
                                    <a class="btn btn-warning" href="/orders">Go Back</a>
                                </div>
                            </div>
                        </div><!-- end card header -->

                        <div class="card-body">
                            <form asp-action="Create" asp-controller="Orders" method="post">
                                <div class="row gy-4 mb-2">
                                    <div class="col-xxl-3 col-md-6">
                                        <div>
                                            <input hidden type="number" class="form-control" name="TotalPrice" id="TotalPrice" value="@price" required>

                                            <label for="CreatedAt" class="form-label">Created</label>
                                            <input type="datetime-local" class="form-control" name="CreatedAt" id="CreatedAt" required>
                                        </div>
                                    </div>
                                </div>

                                <button class="btn btn-primary mt-2" type="submit">Save</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>